
.card {
	/* border: solid black; */
	/* width: 300px; */
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px 20px;
	min-height: 740px;
	gap: 10px;
	border-radius: 8px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.checkmark {
	height: 50px;
}

h2 {
	text-align: center;
}
details {
	text-align: center;
}

.amountInput {
	width: 30px;
}

.shopListContainer {
	background-color: lightblue;
	min-width: 60vw;
	margin: auto;
	border-radius: 10px;
}

img {
	width: 220px;
	height: auto;
	object-fit: contain;
}

.addCart {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	width: 100%;
	padding: 10px;
	/* border:  4px;
	border-style: outset; */
}

input,
label {
	font-size: 1.1em;
}

.search {
	display: flex;
	gap: 10px;
	padding-top: 40px;
	font-weight: bold;
	justify-content: center;
	font-size: 1.5em;
}

.addCartBtn {
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1.1em;
	font-weight: bold;
	color: rgb(63, 10, 58);
}

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	padding: 50px;
	gap: 8px;
}