

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
    margin-top: 2vh;
    background-color: rgb(219, 203, 236);
    height: 5vh;
    border-radius: 10px;
}

.back {
    background-color: red;
}

.navButtons {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(63, 10, 58);
}