

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
    margin-top: 2vh;
    background-color: rgb(219, 203, 236);
    height: 5vh;
    /* gap: 30px; */
    border-radius: 10px;
}

.back {
    background-color: red;
}

a {
    font-size: 1.3em;
    color: rgb(63, 10, 58);
    font-weight: bold;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
}