

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 20px; */
    background-color: rgb(219, 203, 236);
    height: 5vh;
    /* gap: 30px; */
    border-radius: 10px;
}

.back {
    background-color: red;
}

a {
    font-size: 1.3em;
    color: rgb(63, 10, 58);
    font-weight: bold;
}