
.card {
	border: solid black;
	/* width: 300px; */
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	min-height: 650px;
	gap: 10px

}

.amountInput {
	width: 30px;
}

.shopListContainer {
	background-color: lightblue;
	width: 60vw;
	margin: auto;
}

img {
	width: 200px;
	height: auto;
	object-fit: contain;
}

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(4, minmax(150px, 1fr));
	padding: 50px
}