
.card {
	border: solid black;
	width: 300px;
}

.amountInput {
	width: 30px;
}

.shopListContainer {
	background-color: lightblue;
	width: 60vw;
	margin: auto;
}

img {
	width: 200px;
	height: auto;
}

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(4, minmax(250px, 1fr));
	padding: 50px
}